* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 700;
}
body {
    background-color: #1d7cc1;
}

.entites__wrraper {
    display: flex;
    width: 100%;


    justify-content: space-between;
}

.buttons__choice {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttons__choice button {
    cursor: pointer;
    border: 4px solid #06457a;
    border-radius: 14px;
    width: 140px;
    height: 50px;
    background-color: #fddea6;
}

label {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    font-size: 16px;
}

.left__side {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #06457a;
}

.right__side {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #06457a;
}

@media (max-width: 1050px) {
    .entites__wrraper {
        flex-direction: column;
    }
    .entites__wrraper img {
        width: 150px;
        justify-content: center;
    }
    .entites__wrraper > div {
        display: flex;
        justify-content: center;
    }

    .buttons__choice {
        display: flex;
        flex-direction: column;
    }
    .buttons__choice button {
        margin: 0 auto;
        width: 100%;
    }
}